:root{
    --cor-cabecalho-inicial: #e7610d;
    --cor-cabecalho-final: #ce8541;
    --cor-fundo-body: #f5f5f5;
    --cor-main: #fff;
    --cor-letras-link: #ffffff;
    --cor-botao-cabecalho: #ffffff36;
    --cor-rodade: #333;
    --corsombra-botao: #ffffff79;
}